<div style="width: fit-content;margin: right;margin-top: 18px;">  
  <button type="button" class="btn btn-primary" (click)="openModalWithClass(cadastroDisciplina)">Adicionar</button>  
</div>  
    
       
<ng-template #cadastroDisciplina>  
  <div class="modal-header">  
    <h4 class="modal-title pull-left">Disciplina</h4>  
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
      <span aria-hidden="true">×</span>  
    </button>  
  </div>  
  <div class="modal-body">  
    <div>
          
      <form  [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="form-row">    
          <div class="form-group col-md-2">
            <label for="codigo" class="control-label mb-0">Código</label>
            <input type="text" class="form-control" formControlName="codigo" id="codigo" placeholder="Código">
          </div>

          <div class="form-group col-md-6">
            <label for="nome" class="control-label mb-0">Nome</label>
            <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome">
          </div>

          <div class="form-group col-md-2">
            <label for="creditos" class="control-label mb-0">Créditos</label>
            <input type="text" class="form-control" formControlName="creditos" id="creditos" placeholder="Créditos">
          </div>

          <div class="form-group col-md-2">
            <label for="semestreIdeal" class="control-label mb-0">Semestre Ideal</label>
            <input type="text" class="form-control" formControlName="semestreIdeal" id="semestreIdeal" placeholder="Semestre Ideal">
          </div>

          <div class="form-group col-md-12">
            <label for="ementa">Ementa</label>
            <textarea class="form-control" id="ementa" rows="3" formControlName="ementa" placeholder="Ementa"></textarea>
          </div>

          <div class="form-group col-md-12">
            <label for="obrigatoria" class="control-label mb-0">Requeridas</label>
            <input type="text" class="form-control" formControlName="obrigatoria" id="obrigatoria" placeholder="Obrigatória">
          </div>
        </div>

          
        <div class="form-row">
          <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">Gravar</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="modalRef.hide()">Cancelar</button>
          </div>    
        </div>
              
      </form>
  
    </div>
  </div>  
</ng-template>  