<div class="navbar navbar-expand-lg navbar-dark bg-primary rounded-right">
  <div class="navbar-nav flex-column">
    <a class="nav-link" routerLinkActive="active" routerLink="/professor">Professor</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/professor/informes">Informes</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/professor/disciplinas">Disciplinas</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/departamento">Departamentos</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/departamento1" (click)="setDepartamento('departamento 1')">Departamento 1 </a>
    <a class="nav-link" routerLinkActive="active" routerLink="/departamento2" (click)="setDepartamento('departamento 2')">Departamento 2</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/departamento3" (click)="setDepartamento('departamento 3')">Departamento 3</a>
  </div>
</div>
  