<div class="container-fluid">
  <header class="row py-2 bg-darkBlue d-flex justify-content-between">
    <div class="ml-2"> 
      <img class="rounded" src="../assets/images/lamp-bulb.png" alt="logo" width="70px" >
    </div>
    <div class="my-auto">
      <span class="h1 text-white">Sistema Academico</span>
    </div>

    <!-- Modal -->
    <div class="mr-2">
      <login-modal-popup></login-modal-popup> 
    </div>

  </header>

  <div class="row mt-2">
    <div class="col-3 pl-0">
      <comum-menu-lateral></comum-menu-lateral>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
