<div class="row">
  <div class="upload-image">
    imagem/upload-imagem
  </div>
  <div class="my-auto ml-2">
    <h2>
      Nome
    </h2>
    <h3>
      Departamento/Curso
    </h3>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    email
  </div>
  <div class="col-12">
    cep
  </div>
  <div class="col-8">
    rua
  </div>
  <div class="col-4">
    numero
  </div>
  <div class="col-12">
    complemento
  </div>
  <div class="col-5">
    bairro
  </div>
  <div class="col-5">
    cidade
  </div>
  <div class="col-2">
    UF
  </div>

</div>