.upload-image {
  display: block;
  text-indent: -9999px;
  width: 150px;
  height: 150px;
  background: url("../../../../assets/images/personal-data/photo-square.svg");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}

.cell-height {
  height: 30px
}

.pill-style {
  height: 100%;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 5px 0px;
}

.pill-head {
  border-radius: 15px 0 0 15px;
  background-color: #3aacf8;;
}

.pill-tail {
  border-radius: 0 15px 15px 0;
  background-color: #6efff37a;
}
