.upload-image {
  display: block;
  text-indent: -9999px;
  width: 150px;
  height: 150px;
  background: url("../../../../assets/images/personal-data/photo-square.svg");
  background-size: 150px 150px;
  background-repeat: no-repeat;
}