<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="cadastroItens" ngbDropdownToggle>Cadastrar</button>
      <div ngbDropdownMenu aria-labelledby="cadastroItens">
        <button ngbDropdownItem (click)="seleciona('Administradores')"> Administradores </button>
        <button ngbDropdownItem (click)="seleciona('Professores')"> Professores </button>
        <button ngbDropdownItem (click)="seleciona('Alunos')"> Alunos </button>
        <button ngbDropdownItem (click)="seleciona('Salas')"> Salas </button>
        <button ngbDropdownItem (click)="seleciona('Disciplinas')"> Disciplinas </button>
        <button ngbDropdownItem (click)="seleciona('Disciplinas Oferecidadas')"> Disciplinas Oferecidas </button>
      </div>
    </div>
  </div>
  <div class="mr-3">
    <h2>{{titulo}}</h2>
  </div>    
</div>

<div  *ngIf="titulo==='Alunos'">
  <app-cadastro-alunos></app-cadastro-alunos>
</div>
<div  *ngIf="titulo==='Professores'">
  <app-cadastro-professores></app-cadastro-professores>
</div>
<div  *ngIf="titulo==='Administradores'">
  <app-cadastro-administradores></app-cadastro-administradores>
</div>
<div  *ngIf="titulo==='Salas'">
  <app-cadastro-salas></app-cadastro-salas>
</div>
<div  *ngIf="titulo==='Disciplinas'">
  <app-cadastro-disciplinas></app-cadastro-disciplinas>
</div>
<div *ngIf="titulo==='Disciplinas Oferecidadas'">
  <app-cadastro-disciplina-oferecida></app-cadastro-disciplina-oferecida>
</div>
<div>
    <router-outlet></router-outlet>
</div>