<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="cadastroItens" ngbDropdownToggle>Cadastrar</button>
      <div ngbDropdownMenu aria-labelledby="cadastroItens">
        <button ngbDropdownItem>Administrador</button>
        <button ngbDropdownItem>Professor</button>
        <button ngbDropdownItem>Aluno</button>
      </div>
    </div>
  </div>    
</div>

<div>
    <app-cadastro-alunos></app-cadastro-alunos>
    <router-outlet></router-outlet>
</div>