<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="cadastroItens" ngbDropdownToggle>Cadastrar</button>
      <div ngbDropdownMenu aria-labelledby="cadastroItens">
        <button ngbDropdownItem on-click="seleciona('Administrador')"> Administrador </button>
        <button ngbDropdownItem on-click="seleciona('Professor')"> Professor </button>
        <button ngbDropdownItem on-click="seleciona('Aluno')"> Aluno </button>
        <button ngbDropdownItem on-click="seleciona('Sala')"> Sala </button>
        <button ngbDropdownItem on-click="seleciona('Disciplina')"> Disciplina </button>
      </div>
    </div>
  </div>
  <div class="mr-3">
    <h2>{{titulo}}</h2>
  </div>    
</div>

<div  *ngIf="titulo==='Aluno'">
  <app-cadastro-alunos></app-cadastro-alunos>
</div>
<div  *ngIf="titulo==='Professor'">
  <app-cadastro-professores></app-cadastro-professores>
</div>
<div  *ngIf="titulo==='Administrador'">
  <app-cadastro-administradores></app-cadastro-administradores>
</div>
<div  *ngIf="titulo==='Sala'">
  <app-cadastro-salas></app-cadastro-salas>
</div>
<div  *ngIf="titulo==='Disciplina'">
  <app-cadastro-disciplinas></app-cadastro-disciplinas>
</div>
<div>
    <router-outlet></router-outlet>
</div>