<div style="width: fit-content;margin: right;margin-top: 18px;">  
  <button type="button" class="btn btn-primary" (click)="openModalWithClass(cadastroDisciplinaOferecida)">Adicionar</button>  
</div>  
    
       
<ng-template #cadastroDisciplinaOferecida>  
  <div class="modal-header">  
    <h4 class="modal-title pull-left">Disciplina Oferecida</h4>  
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  
      <span aria-hidden="true">×</span>  
    </button>  
  </div>  
  <div class="modal-body">  
    <div>
          
      <form  [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="form-row"> 
          <div class="form-group col-md-4">
            <label for="disciplina" class="control-label mb-0">Disciplina</label>
            <select class="form-control" id="disciplina" formControlName="disciplina">
              <option *ngFor="let disc of disciplinas" [value]="disc.disciplinaId">{{ disc.nome }}</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="professor" class="control-label mb-0">Professor</label>
            <select class="form-control" id="professor" formControlName="professor">
              <option *ngFor="let prof of professores" [value]="prof.professorId">{{ prof.pessoa.nome + ' ' + prof.pessoa.sobrenome }}</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="sala" class="control-label mb-0">Sala</label>
            <select class="form-control" id="sala" formControlName="sala">
              <option *ngFor="let sal of salas" [value]="sal.salaId">{{ sal.departamento + ' ' + sal.numero }}</option>
            </select>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="semestre" class="control-label mb-0">Semestre</label>
            <input type="number" class="form-control" formControlName="semestre" id="semestre">
          </div>

          <div class="form-group col-md-4">
            <label for="ano" class="control-label mb-0">Ano</label>
            <input type="number" class="form-control" formControlName="ano" id="ano">
          </div>

          <div class="form-group col-md-4">
            <label for="turma" class="control-label mb-0">Turma</label>
            <input type="number" class="form-control" formControlName="turma" id="turma">
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="dia" class="control-label mb-0">Dia</label>
            <select class="form-control" id="dia" formControlName="dia">
              <option *ngFor="let d of dias" [value]="d">{{ d }}</option>
            </select>
          </div>

          <div class="form-group col-md-3">
            <label for="horario" class="control-label mb-0">Horario</label>
            <select class="form-control" id="horario" formControlName="horario">
              <option *ngFor="let hora of horarios" [value]="hora">{{ hora }}</option>
            </select>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">Gravar</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="cancel()">Cancelar</button>
          </div>    
        </div>
              
      </form>
  
    </div>
  </div>  
</ng-template>  