<div class="mat-elevation-z4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto my-3" *ngFor="let informe of informes">
        <p-card
          header="{{ informe.titulo }}"
          subheader="{{ informe.departamento }}">
          {{ informe.descricao }}

          <ng-template pTemplate="footer">
            <p-button icon="pi pi-pencil" [routerLink]="['update/', informe.id]">
            </p-button>
            <p-button icon="pi pi-trash" (click)="dialogoConfirmacao()" [style]="{ 'margin-left': '.5em' }">
            </p-button>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>

  <!-- <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <p-header>
        <img alt="Card" src="assets/showcase/images/usercard.png">
    </p-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary [style]="{'margin-left': '.5em'}""></p-button>
    </ng-template>
</p-card> -->
</div>
