<ng-container [formGroup]="pessoaForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nome" class="control-label mb-0">Nome</label>
      <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome">
    </div>   

    <div class="form-group col-md-6">
        <label for="sobrenome" class="control-label mb-0">Sobrenome</label>
        <input type="text" class="form-control" formControlName="sobrenome" id="sobrenome" placeholder="Sobrenome">
    </div>

    <div class="form-group col-md-12">
      <label for="email" class="control-label mb-0">E-mail</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="nome@email.com">
    </div>

    <fieldset>
      <button type="button" class="btn btn-primary" (click)="addTelefone()">Adicionar telefone</button>
      <div formArrayName="telefones" class="form-row">
        <div *ngFor="let telefone of telefones.controls; let i=index">
          <div [formGroupName]="i" class="ml-2 mt-2">
            <label for="telefone+i" class="control-label mb-0">Telefone {{i+1}}: </label>
            <input type="text" class="form-control" formControlName="telefone" [id]="telefone+i" placeholder="Número">
            <button type="button" class="btn btn-warning" (click)="removeTelefone(i)">Remover</button>
          </div>
        </div> 
      </div> 
    </fieldset>

    <endereco-form formControlName = "endereco"></endereco-form>
  </div>
  

</ng-container>